table {
    color: white;
    .first_laft {
        border-top-left-radius: 20px;
    }
    .first_rigth {
        border-top-right-radius: 20px;
    }
    .last_left {
        border-bottom-left-radius: 20px;
    }
    .last_rigth {
        border-bottom-right-radius: 20px;
    }

    .pronome {
        background-color: rgb(4, 4, 124);
        border: 1px solid rgb(14, 14, 80);
    }
    .verbo {
        background-color: rgb(53, 129, 7);
        border: 1px solid rgb(15, 120, 4);
    }
    .tradução {
        background-color: rgb(75, 22, 22);
        border: 1px solid rgb(63, 2, 2);
    }

}